.text-light, .page-header-dark .btn-link {
    color: #1A1A1A !important;
}
.text-light {
    color: #1A1A1A !important;
}
.svg-border-rounded svg {
    height: 3rem;
    width: 100%;
}
li{
    margin-top: 1rem;
    margin-bottom: 1rem;
    list-style: none;
}