.hiw{
    font-size: 50px;
}
.hiw1{
    font-size: 40px;
}
.svg-border-rounded svg {
    height: 3rem;
    width: 100%;
}

.text-light {
    color: #1A1A1A !important;
}
.text-li{
    color: white
}

