.svg-border-rounded svg {
    height: 3rem;
    width: 100%;

}
.colorsvg{
    color: white;
}
.text-light {
    color:  #1A1A1A!important;
}
.bg-row{
    background: rgb(250,33,253);
    background: linear-gradient(356deg, rgba(250,33,253,1) 0%, rgba(183,33,255,1) 87%);
}

.svg-border-angled svg {
    height: 2rem;
    width: 100%;
}
.text-light, .page-header-dark .btn-link {
    color: #1A1A1A !important;
}